
//oocss clases

.left
  float left
.right
  float right
.relative
  position relative

// Contenedor general
.content 
	padding 70px
	
// Listado Artists	
.search
	width 400px !important
	margin 20px 0

.panel-content
	padding 10px
	display inline-flex
	
.title
	text-decoration none
	&:hover
		text-decoration none
	
	
	
	
	