<div class="panel panel-primary">

	<input type="text" ng-model="query" class="form-control" placeholder="Search">
	<div class="panel-heading">
		Lista
	</div>
	<div ng-repeat="item in fjson.results.artistmatches.artist  | filter:query " class="">
		<a href="/#artist/{{ item.name | normalize }}">
			Nombre: {{item.name}}
		</a>
		<div  ng-repeat="(key, value) in item.image" class="div">
			{{value}}
			<!-- <div  ng-repeat="pru in value" class="div">
				{{pru}}
			</div> -->
		</div>
	</div>
</div>
