<h4 class="tcenter">Biografy</h4>
<div class="well well-lg mgmd biografy">{{artist.artist.bio.summary}}<br><br>Published {{artist.artist.bio.published}}</div>
<ul class="list-group">
  <li class="list-group-item">Link: {{artist.artist.bio.links.link.rel}} - <a href="{{artist.artist.bio.links.link.href}}">{{artist.artist.bio.links.link.href}}</a></li>
  <li class="list-group-item">Yearformed: {{artist.artist.bio.yearformed}}</li>
  <li class="list-group-item">From {{artist.artist.bio.formationlist.formation.yearfrom}} to {{artist.artist.bio.content.formationlist.formation.yearto}}</li>
</ul>
